@import "tailwindcss";

:root {
  --bg-color: #031f44;
  --text-color: #edf0f5;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}